/* 4 змінні оснвні кольори заголовків і кнопки */
/* класи для всіх */
/* заголовки прписуемо сан серіф через кому як запасний і  чставимо фонт вейт чк в макеті, бо браузер 700 ставить на заголовки */
/* вижуали хиден для лишнего заголовка */
/* адрес не наслідує */
/* нп кнопку сурсор поинтер */
/* в рідмі класи */

/* если есть ховер то должен быть и фокус */

/* MaiN COLOR */
/* NAVY BLUE main header color: #2E2F42; */
/* main dark text color: #434455; */
/* main light text color: #E7E9FC;

/* main btn text color: #4D5AE5; */
/* main btn text backgroundcolor: #404BBF; */
/* main btn text hover color: color: #FFFFFF; */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++===========WHOLE FILE============== */

body {
  font-family: "Roboto";
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.btn {
}

/* ===========================HEADER================================ */

.logo-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.blue-logo-text {
  color: #4d5ae5;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #4d5ae5;
}

.address-link {
  font-style: normal;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #4d5ae5;
}
/*================= .visually-hidden H1 ==============*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* +++++++++++++++++++++++++++++++++========================MAIN-PAGE========================================+++++++++++++++++++ */
/* ===========================HERO================================ */
.hero-background {
  background: #2e2f42;
}
/* MAYBE BETTER DELETE LATER CLASS ABOVE? */

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #4d5ae5;
}
.hero-btn:active {
  background: #404bbf;
}
.hero-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* ==============================BENEFITS========================= */

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ==============================WHAT WE ARE DOING========================= */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* ==============================OUR TEAM========================= */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/*  .team-title { text-transform: capitalize;} */

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==============================FOOTER========================= */
.footer-background {
  background: #2e2f42;
}
/* MAYBE BETTER DELETE LATER CLASS ABOVE? */

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.white-logo-color {
  color: #f4f4fd;
}
/* +++++++++++++++++++++++++++++++++========================PORTFOLIO-PAGE========================================+++++++++++++++++++ */
/* ==============================BUTTONS========================= */
.portfolio-btn {
  background: #f4f4fd;
}

.portfolio-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.portfolio-btn:hover,
.hero-btn:focus {
  background: #4d5ae5;
}
.portfolio-btn:active {
  background: #404bbf;
}
.portfolio-btn-text:hover,
.portfolio-btn-text:focus,
.portfolio-btn-text:active {
  color: #ffffff;
}
/* ==============================EXAMPLES========================= */
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.examples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
