/* 4 змінні оснвні кольори заголовків і кнопки */
/* класи для всіх */
/* заголовки прписуемо сан серіф через кому як запасний і  чставимо фонт вейт чк в макеті, бо браузер 700 ставить на заголовки */
/* вижуали хиден для лишнего заголовка */
/* адрес не наслідує */
/* нп кнопку сурсор поинтер */
/* в рідмі класи */
/* ===========whole file============== */

body {
  font-family: "Roboto";
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.address-link {
  font-style: normal;
}
